@import 'variables.scss';
@import 'fonts.scss';
@import 'bases.scss';
@import 'components.scss';

 /* Homepage */

.homepage{

    h1 {
        text-shadow: -2px 2px 0 $black,
            2px 2px 0 $black,
            2px -2px 0 $black,
            -2px -2px 0 $black;
        font-family: 'Alinsa', sans-serif;
        line-height: 100%;
        font-size: 150px; 
        color: $beige; 
        margin: 0;
    }

    h2 {
        color: $beige; /* beige */
        font-size: 30px;
        font-style: normal; 
        font-weight: 500;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        justify-content: center;
        background-color: $beige; /* beige */

        .card {
            display: flex;
            background-color: $green; /* green */
            justify-content: space-between;
            border-radius: 8px;
            border: 2px solid $black;
            width: 82%;
            height: 565px;

            .content {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                margin-left: 7%;
                justify-content: center;
            }

            .image {
                margin-right: 40px;
            }
            
        }

        .buttons {
            display: flex;
            margin-top: 40px;
            gap: 40px;
        }

    }
}

@media (max-width: 767px) {
    .homepage {
        .container {
            min-height: auto;
            
            .card{
                height: auto;
                flex-direction: column;
                margin-top: 10%;
                .content{
                    order: 1;
                    margin-top: 15%;
                    margin-bottom: 5%;
                }
                img{
                    width: 190px;
                    order: 0;
                    align-self: center;
                    margin-left: 10%;
                    margin-top: 10%;
                }
            }
        }
        h1 {
            font-size: 70px;
        }
        h2 {
            font-size: 20px;
        }
        .button {
            font-size: 13px;
            padding: 6px 10px;
        }
    }
}
 /* Auth page */
.guest-blade{

display: flex;
justify-content: center;
margin-top: 10%;
gap:5%;

img {
    max-width: 320px;
}
    .authPage {
        width: 400px;
    
        .forget-link{
            margin-top:3%;
        }

        .redirection-link{
            display:flex;
            align-items: center;
            gap: 1%;
        }

    }
}

@media screen and (max-width: 767px) {
    .guest-blade {
        flex-direction: column;
        gap: 10%;
        align-items: center;
        margin-top: 0;
        .container{
            order: 1;
            margin-top: 4%;
        }      

        button {
            justify-self: center;
        }

        img {
            max-width: 140px;
            margin-top: 7%;
            order: 0;
        }
        .authPage {
            width: 300px;
        }
    }
}
 