 /* Bases */

body {
    background-color: $beige;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-beige {
    background-color: $beige;
}

.bg-green {
    background-color: $green;
}

.text-gray {
    color: $gray;
}

a {
    text-decoration: underline; 
    text-underline-offset: 2px; 
    color: $green; 
    transition: color 150ms ease-in-out;
    font-size: 1.125rem;
    font-family: "Figtree", sans-serif;
    font-weight: 300;

    &:hover {
      color: $greenHover; 
    }
  }

  h1{
    color: $beige; 
    font-family: "Inter", sans-serif;
    font-size: 3.75rem;
    font-weight: 900; 
    margin: 2.5rem 0 0.5rem;
    text-align: center;
}

h2 {
    color: $green;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    margin-bottom: 1rem;
    font-size: 24px;
}

h3 {
    font-size: 1.125rem; 
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: $beige; 
    margin: 0;
    text-align: center; 
}




p {            
    font-size: 1.125rem;
    font-family: "Figtree", sans-serif;
    font-weight: 300;
}