 /* Bases */

body {
    background-color: $beige;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-beige {
    background-color: $beige;
}

.bg-green {
    background-color: $green;
}

.fill-pink {
    fill: #F79C99;
}

.fill-black\/25 {
    fill: rgb(0 0 0 / 0.25);
}

.text-gray {
    color: $gray;
}

a {
    text-decoration: underline; 
    text-underline-offset: 2px; 
    color: $green; 
    transition: color 150ms ease-in-out;
    font-size: 1.125rem;
    font-family: "Figtree", sans-serif;
    font-weight: 300;

    &:hover {
      color: $greenHover; 
    }
  }

  h1{
    color: $beige; 
    font-family: "Inter", sans-serif;
    font-size: 3.75rem;
    font-weight: 900; 
    margin: 2.5rem 0 0.5rem;
    text-align: center;
}

h2 {
    color: $green;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    margin-bottom: 1rem;
    font-size: 24px;
}

h3 {
    font-size: 1.125rem; 
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: $beige; 
    margin: 0;
    text-align: center; 
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    margin: 0;
    color: $green;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h5 {
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size: 1.125rem;
    color: rgba(15, 121, 15, 0.60);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}



hr {
    border: 1px solid $green;
    margin: 1rem 0;

}



p {            
    font-size: 1.125rem;
    font-family: "Figtree", sans-serif;
    font-weight: 300;
}